.questions {
  @extend .offers
}

.drop {
  display: none;
  padding: 2%;
  font-size: 1rem;
}

.questions__list {
  margin-bottom: 6.25rem;
}

.questions__item {
  background: #C4C4C4;
  border-radius: 10px;
  padding: 10px 35px;
  min-height: 3.125rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
  font-size: 1.625rem;
  position: relative;
  cursor: pointer;

  &_active+.drop {
    display: block;
  }

  &_active>.more {
    transform: rotate(180deg);
  }

  .more {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid #000;
    position: absolute;
    right: 0.9375rem;
    top: 1.250rem;
  }
}